<!DOCTYPE html>
<html lang="en">
<head> 
  <%- include ("../partials/header.ejs") %>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Your Rate</h1>
        </div>
        <div class="container">
            <h3>Weight: <%= weight %></h3>
            <h3>Mail: <%= fmail %></h3>
            <h2>Total = <%= total %></h2>
        </div>
    </div>

  <script src="main.js"></script>
</body>
</html>